.App {
  text-align: center;
  padding: 50px;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #67CAC7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

progress {
  width: 100%;
  margin: 20px 0;
}
